[Desktop Entry]
Version=1.0
Type=Link
Name=Session 16 - Computational Science
Comment=Session 16 - Computational Science
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EYkk_TGrdONJlbYNMgIrrjYB54aGWtULj-6XBpMZKSojdg?e=93oVKu
GenericName=Session 16 - Computational Science

