[Desktop Entry]
Version=1.0
Type=Link
Name=Session 23 - Ternary Encoding, Measuring Randomness
Comment=Session 23 - Ternary Encoding, Measuring Randomness
Icon=firefox
URL=https://goo.gl/CbCyEd
GenericName=Session 23 - Ternary Encoding, Measuring Randomness
