[Desktop Entry]
Version=1.0
Type=Link
Name=Session 12 - Combinatorics, Recursion
Comment=Session 12 - Combinatorics, Recursion
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EdfJxTtuAT1PkeVZYS7DoCYBATkvIkAK6Ljh6fujVIwiMw?e=CzouXV
GenericName=Session 12 - Combinatorics, Recursion
