[Desktop Entry]
Version=1.0
Type=Link
Name=Session 18 - Matrices, Iterated Transforms
Comment=Session 18 - Matrices, Iterated Transforms
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/Eaw4bT_7EyhEjhlIZ0bDJVcBvqeJSxf17D3tNQCFmnfdHQ?e=tgTNKn
GenericName=Session 18 - Matrices, Iterated Transforms

