[Desktop Entry]
Version=1.0
Type=Link
Name=Session 18 - Matrices, Iterated Transforms
Comment=Session 18 - Matrices, Iterated Transforms
Icon=firefox
URL=https://goo.gl/8HOoG7
GenericName=Session 18 - Matrices, Iterated Transforms

