[Desktop Entry]
Version=1.0
Type=Link
Name=Session 05 - Functional Equations, Equilibrium Simulation
Comment=Session 05 - Functional Equations, Equilibrium Simulation
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EebB7OnWX8dOoBHcVSwXaJgBgmz1NBI3mX1VPLiJuc6GxA?e=WuDpLS
GenericName=Session 05 - Functional Equations, Equilibrium Simulation
