[Desktop Entry]
Version=1.0
Type=Link
Name=Session 09 - Algorithms, Series Convergence
Comment=Session 09 - Algorithms, Series Convergence
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EVoqWWoPU75Ip8pd2V_ltQ4BsYCUMJ00cLHOTzylgjMYiw?e=I9sbeT
GenericName=Session 09 - Algorithms, Series Convergence
