[Desktop Entry]
Version=1.0
Type=Link
Name=Session 19 - Monte Carlo Integration
Comment=Session 19 - Monte Carlo Integration
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EZ2NzV9WdghFg-G7q8LIrfQB6-uaj1tYqfeiu3I4YmIIBw?e=zPftWd
GenericName=Session 19 - Monte Carlo Integration
