[Desktop Entry]
Version=1.0
Type=Link
Name=Session 02 - Boolean Algebra, Logic Gates
Comment=Session 02 - Boolean Algebra, Logic Gates
Icon=firefox
URL=https://goo.gl/S6RlAH
GenericName=Session 02 - Boolean Algebra, Logic Gates
