[Desktop Entry]
Version=1.0
Type=Link
Name=Session 02 - Cloud PC, Linux Xfce, CodeBlocks
Comment=Session 02 - Cloud PC, Linux Xfce, CodeBlocks
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/EaeMHfx2jh5Ll90ocT53R30Bnrkac6h49JmkjUnBjZIJjg?e=yYPe2F
GenericName=Session 02 - Cloud PC, Linux Xfce, CodeBlocks
