[Desktop Entry]
Version=1.0
Type=Link
Name=Session 04 - Code Structure, Variables
Comment=Session 04 - Code Structure, Variables
Icon=firefox
URL=https://goo.gl/ybqZQt
GenericName=Session 04 - Code Structure, Variables
