[Desktop Entry]
Version=1.0
Type=Link
Name=Session 03 - Cloud PC, Linux Xfce, CodeBlocks
Comment=Session 03 - Cloud PC, Linux Xfce, CodeBlocks
Icon=firefox
URL=https://goo.gl/1LvwNd
GenericName=Session 03 - Cloud PC, Linux Xfce, CodeBlocks
