[Desktop Entry]
Version=1.0
Type=Link
Name=Session 21 - Computational Physics
Comment=Session 21 - Computational Physics
Icon=firefox
URL=https://brookhavenlab-my.sharepoint.com/:p:/g/personal/dbiersach_bnl_gov/ETxpkDBL_xlNgvvcLjONp5QBv9kqXg7eTXZBUf7ueyxWDA?e=mn9frw
GenericName=Session 21 - Computational Physics
